<div class="media col-md-6 entity">
  <div class="media-left">
    <div class="media-left">
      <%= link_to image_tag(entity.photo_url(:thumb), class: 'media-object img-rounded'), entity %>
    </div>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to entity.name, entity %><br>
      <%#= entity.offers.size %>
    </h4>

    <%= entity.presentation.truncate(200).html_safe %>
  </div>

  <div class="links">
    <%= link_to 'Interessado/a', '', class: 'btn btn-success btn-sm' %>
    <%= link_to 'Editar', [:edit, entity], class: 'btn btn-primary btn-sm' %>
  </div>
</div>
