<div class="media col-md-6 entity">
  <div class="media-left">
    <div class="media-left">
      <%= link_to image_tag(entity.photo_url(:thumb), class: 'media-object img-rounded'), entity %>
    </div>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to entity.name, entity %><br>
      <%#= entity.offers.size %>
    </h4>

    <%= normalize_html_text entity.presentation %>
  </div>

  <% if display_links %>
    <div class="links">
      <% if can? :read, :entity_interest_buttons %>
        <%= render 'interest_buttons', user_id: entity.id %>
      <% end %>

      <% if can? :update, entity %>
        <%= link_to 'Editar', [:edit, entity], class: 'btn btn-primary btn-sm' %>
      <% end %>
    </div>
  <% end %>
</div>
