<%= simple_form_for @entity, defaults: { input_html: { class: 'form-control' } } do |f| %>
  <%= f.error_notification %>

  <%= render 'shared_fields', f: f %>

  <div class="row">
    <%= f.input :nif, wrapper_html: { class: 'col-xs-2' } %>
  </div>

  <div class="row">
    <%= f.input :professional_activity, collection: [], wrapper_html: { class: 'col-xs-3' } %>
  </div>

  <%= tinymce_assets %>

  <div class="row">
    <%= f.input :presentation, wrapper_html: { class: 'col-xs-12' }, input_html: { class: 'tinymce', rows: 10 } %>
  </div>

  <%= tinymce %>

  <div class="row">
    <%= f.button :submit, class: 'btn btn-success btn-submit' %>

    <% if @entity.persisted? %>
      <%= link_to 'Cancelar', entities_registration_path(@entity), class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
