<div class="media">
  <div class="media-left">
    <a href="#">
      <%= link_to image_tag(offer.photo_url(:thumb), class: 'media-object img-rounded'), offer %>
    </a>
  </div>

  <div class="media-body">
    <h5 class="media-heading">
      <%= link_to offer.title, offer %><br>
      <%= l offer.start_at %> a <%= l offer.end_at %>
    </h5>

    <%= offer.description.truncate(200) %>
  </div>

  <div class="media-right">
    <%= link_to 'Reativar', '', class: 'btn btn-success media-object' %>
  </div>
</div>
