<div class="row" id="entity-dashboard">
  <div class="col-xs-6">
    <h3>Ofertas</h3>

    <div id="active-offers">
      <%= render partial: 'dashboard/offer', collection: @active_offers, locals: { display_links: true } %>
    </div>

    <%= link_to 'Inserir Oferta', new_offer_path, class: 'btn btn-success btn-insert' %>

    <h3>Histórico</h3>

    <div id="inactive-offers">
      <%= render partial: 'offers_history', collection: @inactive_offers, as: :offer %>
    </div>
  </div>

  <div class="col-xs-4 col-xs-offset-2 links">
    <h3>Entidade</h3>

    <%= link_to 'Editar Dados', [:edit, @entity], class: 'btn btn-primary' %>
    <%= link_to 'Alterar Password', password_reset_path, class: 'btn btn-warning' %>
  </div>

  <div class="col-xs-4 col-xs-offset-2 interested-candidates">
    <h3>Candidatos interessados</h3>

    <%= render partial: 'candidates/interested', collection: @entity.interested_candidates, as: :candidate %>
  </div>
</div>

<%= render 'templates/entities/dashboard_offer' %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag 'entities/dashboard' %>
<% end %>
