<div class="row">
  <div class="col-xs-6">
    <h3>Ofertas</h3>

    <%= render partial: 'dashboard/offer', collection: @active_offers, locals: { display_links: true } %>

    <%= link_to 'Inserir Oferta', new_offer_path, class: 'btn btn-success btn-insert' %>

    <h3>Histórico</h3>

    <%= render partial: 'offers_history', collection: @inactive_offers, as: :offer %>
  </div>

  <div class="col-xs-4 col-xs-offset-2 links">
    <h3>Entidade</h3>

    <%= link_to 'Editar Dados', [:edit, @entity], class: 'btn btn-primary' %>
    <%= link_to 'Alterar Password', '', class: 'btn btn-warning' %>
  </div>

  <div class="col-xs-4 col-xs-offset-2 interested-candidates">
    <h3>Candidatos interessados</h3>

    <%= render partial: 'candidates/interested', collection: @entity.interested_candidates, as: :candidate %>
  </div>
</div>
