<h3>Entidades</h3>

<%= simple_form_for :filter, url: entities_path, method: :get, html: { class: 'form-inline' },
    defaults: { input_html: { class: 'form-control' },
    wrapper_html: { class: 'form-group' },
    label_html: { class: 'sr-only' } } do |f| %>
  <div class="form-group">
    <%= f.label :by_name, class: 'sr-only' %>

    <div class="input-group">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </div>

      <%= f.input_field :by_name, placeholder: 'Pesquisar' %>
    </div>
  </div>

  <%= f.input :professional_activity, collection: ProfessionalActivity, prompt: 'Ãrea de Atividade' %>
  <%= f.input :place, collection: Concelhos, prompt: 'Concelhos' %>
<% end %>

<%= render @entities %>
