<h2><%= @entity.name %></h2>

<div class="media">
  <div class="media-left">
    <%= link_to image_tag(@entity.photo_url, class: 'media-object'), @entity %>

    <p><%= link_to 'Interessado/a', '', class: 'btn btn-success btn-sm' %></p>
    <p><%= link_to 'Editar', [:edit, @entity], class: 'btn btn-primary btn-sm' %></p>
  </div>

  <div class="media-body">
    <div class="col-xs-10">
      <p><%= @entity.presentation.html_safe %></p>
    </div>

    <div class="col-xs-10">
      <h4>Actividade Profissional</h4>

      <p><%= @entity.professional_activity_humanize %></p>
    </div>

    <div class="col-xs-10">
      <h4>Morada</h4>

      <address>
        <%= @entity.address %><br>
        <%= @entity.zipcode %><br>
        <%= @entity.place_humanize %>
      </address>
    </div>

    <div class="col-xs-10">
      <h4>Contactos</h4>

      <p>
        <%= @entity.contact %><br>
        <%= @entity.other_contact %><br>
        <%= @entity.email %><br><br>
        <%= link_to @entity.site, @entity.site %>
      </p>
    </div>
  </div>
</div>

<h3>Ofertas Activas</h3>

<%= render partial: 'offers/offer', collection: @active_offers, locals: { display_links: true } %>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Ver entidades', entities_path, class: 'btn bt-link' %>
  </div>
</div>
