<div class="media <%= 'col-md-6' if controller_name == 'news'%> news">
  <div class="media-left">
    <div class="media-left">
      <%= link_to image_tag(news.image_url(:thumb), class: 'media-object img-rounded'), news %>
    </div>
  </div>
  <div class="media-body">
    <h5 class="media-heading">
      <%= link_to news.title, news %><br>
      <%= l news.date %>
    </h5>

    <%= news.summary.truncate(200) %>
  </div>
</div>
