<div class="media col-md-6 candidate">
  <div class="media-left">
    <%= link_to image_tag(candidate.photo_url(:thumb), class: 'media-object img-rounded'), candidate %>
  </div>

  <div class="media-body">
    <h5 class="media-heading"><%= link_to candidate.name, candidate %></h5>
    <h5>
      <%= candidate.professional_area_humanize %>
    </h5>
    <%= normalize_html_text candidate.presentation, length: 120 %><br>
  </div>

  <% if display_links %>
    <div class="links">
      <% if can? :read, :candidate_interest_buttons %>
        <%= render 'interest_buttons', user_id: candidate.id %>
      <% end %>

      <% if can? :update, candidate %>
        <%= link_to 'Editar', [:edit, candidate], class: 'btn btn-primary btn-sm' %>
      <% end %>
    </div>
  <% end %>
</div>
