<div class="media col-md-6 candidate">
  <div class="media-left">
    <%= link_to image_tag(candidate.photo_url(:thumb), class: 'media-object'), candidate %>
  </div>

  <div class="media-body">
    <h5 class="media-heading"><%= link_to candidate.name, candidate %></h5>
    <p>
      <%= candidate.professional_area_humanize %><br>
      <%= candidate.scholarity_humanize %><br>
    </p>
  </div>

  <div class="links">
    <%= link_to 'Interessado/a', '', class: 'btn btn-success btn-sm' %>
    <%= link_to 'Editar', [:edit, candidate], class: 'btn btn-primary btn-sm' %>
  </div>
</div>
