<div class="media col-md-6 offers">
  <div class="media-left">
    <div class="media-left">
      <%= link_to image_tag(offer.photo_url(:thumb), class: 'media-object img-rounded'), offer %>
    </div>
  </div>
  <div class="media-body">
    <h5 class="media-heading">
      <%= link_to offer.title, offer %><br>
      <%= l offer.start_at %> a <%= l offer.end_at %>
    </h5>

    <h5><strong><%= offer.entity_name %></strong></h5>

    <%= trucante_html offer.description %>
  </div>

  <% if display_links %>
    <div class="links">
      <%= link_to 'Candidatar-me', '', class: 'btn btn-success btn-sm' %>

      <% if can? :update, offer %>
        <%= link_to 'Editar', [:edit, offer], class: 'btn btn-primary btn-sm' %>
      <% end %>
    </div>
  <% end %>
</div>
