<div class="form-group">
  <%= f.label :query, class: 'sr-only' %>

  <div class="input-group">
    <%= render 'button_search' %>

    <%= f.input_field :query, placeholder: 'Pesquisar' %>
  </div>
</div>

<%= f.input :professional_activity, collection: ProfessionalActivity, prompt: 'Ãrea Profissional' %>
<%= f.input :place, collection: Concelhos, prompt: 'Concelhos' %>
