<h3><%= @offer.title %></h3>

<div class="media-left">
  <%= link_to image_tag(@offer.photo_url(:medium), class: 'media-object img-rounded'), @offer %><br>

  <div class="text-center">
    <% if can? :read, :application_button %>
      <%= render 'application_buttons', offer_id: @offer.id %>
    <% end %>

    <% if can? :update, @offer %>
      <p><%= link_to 'Editar', [:edit, @offer], class: 'btn btn-primary btn-sm' %></p>
    <% end %>
  </div>
</div>

<div class="media-body">
  <div class="col-xs-12">
    <%= @offer.description %>

    <h5><strong><%= l @offer.start_at %> a <%= l @offer.end_at %></strong></h5><br>

    <h5><strong>Empresa</strong></h5>
    <p><%= link_to @offer.entity_name, @offer.entity %></p><br>

    <h5><strong>Atividade Profissional</strong></h5>
    <p><%= @offer.professional_activity_humanize %></p><br>

    <h5><strong>Tipo de Contrato</strong></h5>
    <%= @offer.contract_humanize %><br>

    <h5><strong>Salário</strong></h5>
    <%= @offer.salary_humanize %>
  </div>
</div>

<% if current_user.try(:id) == @offer.entity_id %>
  <h3>Candidatos</h3>

  <%= render partial: 'candidates/candidate', collection: @offer.candidates,
      locals: { display_links: false } %>
<% else %>
  <h3>Outras ofertas na mesma área</h3>

  <%= render partial: 'offer', collection: @similar_offers, locals: { display_links: false } %>
<% end %>
