<div id="login">
  <%= simple_form_for(:session, url: url) do |f| %>
    <%= f.error_notification %>

    <div class="row">
      <%= f.input :email, class: 'form-control', wrapper_html: { class: 'col-xs-4 col-xs-offset-4' }  %>
    </div>

    <div class="row">
      <%= f.input :password, class: 'form-control', wrapper_html: { class: 'col-xs-4 col-xs-offset-4' } %>
    </div>

    <div class="row">
      <div class="col-xs-4 col-xs-offset-6">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <br />

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <p><%= link_to "Registar-me", signup_path %> | <%= link_to 'Esqueci-me da password', new_forgot_password_path %></p>
    </div>
  </div>
</div>
