<!DOCTYPE html>
<html>
<head>
  <title>BolsaDeEmpregos</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->
</head>
<body>
  <header>
    <div class="container">
      <h1>Bolsa de Empregos</h1>

      <ul class="nav nav-pills">
        <li><%= link_to 'Home', '', class: 'active', role: 'presentation' %></li>
        <li><%= link_to 'Entidades', entities_path %></li>
        <li><%= link_to 'Candidatos', candidates_path %></li>
        <li><%= link_to 'Ofertas', '' %></li>
        <li><%= link_to 'Notícias', '' %></li>
      </ul>
    </div>
  </header>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
